
/* ## Colors

### Primary */

$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);

/* ### Neutral */

$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);




@mixin paddLR {
   padding-left: 10vh; 
   padding-right: 10vh; 
}


@mixin H1 {
  font-family: $heading;
  font-weight: 700;
  font-size: 4rem;
}

@mixin P1 {
  font-family: $heading;
  font-weight: 400;
  font-size: 1.2rem;
}