.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  width: 100vw;
  padding-top: 5vh;
      @include paddLR;

  .nav__menu {
    ul {
        display: flex;
        justify-content: space-between;

      li {
        list-style: none;
        font-family: $bodyfont;
        text-transform: uppercase;
        padding-left: 3vw;
        color: $DarkGrayishViolet;
        font-weight: 700;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
        li:hover{
          color: $DarkViolet;
        }
        .btn:hover{
          color: white;
        }
    }
  }
}


.btn{
  padding-right: 3vw;
  margin-left: 2vw;
  border: 2px solid $DarkViolet;
}

.btn:hover{
  background-color: $VeryDarkViolet;
    color: white;
}

.bars-active, .times-active{
  display: none;
}




@media only screen and (max-width: 375px) {
}

