@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ## Colors

### Primary */
/* ### Neutral */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  padding-bottom: 4vh;
  width: 100vw;
  padding-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.nav .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav__menu ul li {
  list-style: none;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  padding-left: 3vw;
  color: #837d87;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav .nav__menu ul li:hover {
  color: #2d2640;
}

.nav .nav__menu ul .btn:hover {
  color: white;
}

.btn {
  padding-right: 3vw;
  margin-left: 3vw;
  border: 2px solid #2d2640;
}

.btn:hover {
  background-color: #2b272f;
  color: white;
}

#times-active {
  display: none;
}

#bars-active {
  display: none;
}

@media only screen and (max-width: 375px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
  }
  .nav .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    padding-bottom: 3vh;
  }
  .nav .nav__menu ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2d2640;
    height: 30vh;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .nav .nav__menu ul li {
    padding-left: 0;
    padding-right: 0;
  }
  #bars-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d2640;
  padding-left: 10vh;
  padding-right: 10vh;
}

.page1__left {
  height: 70vh;
  padding-top: 20vh;
}

.page1__left h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.page1__left p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
}

.btnView {
  background-color: #2d2640;
  height: 6vh;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  margin-top: 4vh;
}

.btnView:hover {
  background-color: white;
}

.btnView:hover p {
  color: #2d2640;
}

.btnView p {
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: white;
}

.page1__right {
  position: absolute;
  left: 55vw;
  top: 30vh;
}

/* @import '3.pages/' */
.page2, .beforefooter, .footer {
  display: none;
}
/*# sourceMappingURL=main.css.map */